html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font: 12px Helvetica, Arial, sans-serif;
  background: #f2f2f2;
  color: #444444;
}

.bar {
  height: 20px;
  padding: 10px;
  background: #fff;
  border-bottom: #e5e5e5;
  text-align: left;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.bar h1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
}
.bar h1 .read-more {
  font-size: 12px;
  line-height: 18px;
  padding: 0 3px;
  margin-top: 1px;
  font-weight: bold;
  text-decoration: none;
  color: #f52954;
  vertical-align: top;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.bar h1 .read-more:hover {
  background: #f52954;
  color: #fff;
}
.bar .social {
  position: absolute;
  top: 12px;
  right: 10px;
}

.button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -100px;
  border: 3px solid #c2c2c2;
  color: #999;
  text-align: center;
  line-height: 20px;
  padding: 8px 0;
  z-index: 100;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s, top 0s 0.3s;
  -moz-transition: all 0.3s, top 0s 0.3s;
  transition: all 0.3s, top 0s 0.3s;
}
.button:hover {
  border-color: #333;
  color: #333;
}
.button.hide {
  opacity: 0;
  cursor: default;
  top: -100px;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.content {
  min-height: 95%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  perspective-origin: 50% 0;
}

.particles {
  width: 1000px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -500px;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.particles .row-1 {
  -webkit-transform: translate3d(0, -50px, -50px);
  -moz-transform: translate3d(0, -50px, -50px);
  transform: translate3d(0, -50px, -50px);
}
.particles .row-2 {
  -webkit-transform: translate3d(0, -100px, -100px);
  -moz-transform: translate3d(0, -100px, -100px);
  transform: translate3d(0, -100px, -100px);
}
.particles .row-3 {
  -webkit-transform: translate3d(0, -150px, -150px);
  -moz-transform: translate3d(0, -150px, -150px);
  transform: translate3d(0, -150px, -150px);
}
.particles .row-4 {
  -webkit-transform: translate3d(0, -200px, -200px);
  -moz-transform: translate3d(0, -200px, -200px);
  transform: translate3d(0, -200px, -200px);
}
.particles .row-5 {
  -webkit-transform: translate3d(0, -250px, -250px);
  -moz-transform: translate3d(0, -250px, -250px);
  transform: translate3d(0, -250px, -250px);
}
.particles .row-6 {
  -webkit-transform: translate3d(0, -300px, -300px);
  -moz-transform: translate3d(0, -300px, -300px);
  transform: translate3d(0, -300px, -300px);
}
.particles .row-7 {
  -webkit-transform: translate3d(0, -350px, -350px);
  -moz-transform: translate3d(0, -350px, -350px);
  transform: translate3d(0, -350px, -350px);
}
.particles .row-8 {
  -webkit-transform: translate3d(0, -400px, -400px);
  -moz-transform: translate3d(0, -400px, -400px);
  transform: translate3d(0, -400px, -400px);
}
.particles .row-9 {
  -webkit-transform: translate3d(0, -450px, -450px);
  -moz-transform: translate3d(0, -450px, -450px);
  transform: translate3d(0, -450px, -450px);
}
.particles .row-10 {
  -webkit-transform: translate3d(0, -500px, -500px);
  -moz-transform: translate3d(0, -500px, -500px);
  transform: translate3d(0, -500px, -500px);
}
.particles .row-11 {
  -webkit-transform: translate3d(0, -550px, -550px);
  -moz-transform: translate3d(0, -550px, -550px);
  transform: translate3d(0, -550px, -550px);
}
.particles .row-12 {
  -webkit-transform: translate3d(0, -600px, -600px);
  -moz-transform: translate3d(0, -600px, -600px);
  transform: translate3d(0, -600px, -600px);
}
.particles .row-13 {
  -webkit-transform: translate3d(0, -650px, -650px);
  -moz-transform: translate3d(0, -650px, -650px);
  transform: translate3d(0, -650px, -650px);
}
.particles .row-14 {
  -webkit-transform: translate3d(0, -700px, -700px);
  -moz-transform: translate3d(0, -700px, -700px);
  transform: translate3d(0, -700px, -700px);
}
.particles .row-15 {
  -webkit-transform: translate3d(0, -750px, -750px);
  -moz-transform: translate3d(0, -750px, -750px);
  transform: translate3d(0, -750px, -750px);
}
.particles.animate .row-1 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.3s ease-in-out infinite;
  -moz-animation: waving 3s 0.3s ease-in-out infinite;
  animation: waving 3s 0.3s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.5s ease-in-out infinite;
  -moz-animation: waving 3s 0.5s ease-in-out infinite;
  animation: waving 3s 0.5s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(3) {
  -webkit-animation: waving 3s 0.7s ease-in-out infinite;
  -moz-animation: waving 3s 0.7s ease-in-out infinite;
  animation: waving 3s 0.7s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(4) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(8) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(9) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(13) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(14) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-1 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.4s ease-in-out infinite;
  -moz-animation: waving 3s 0.4s ease-in-out infinite;
  animation: waving 3s 0.4s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.6s ease-in-out infinite;
  -moz-animation: waving 3s 0.6s ease-in-out infinite;
  animation: waving 3s 0.6s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(3) {
  -webkit-animation: waving 3s 0.8s ease-in-out infinite;
  -moz-animation: waving 3s 0.8s ease-in-out infinite;
  animation: waving 3s 0.8s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(4) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(8) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(9) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(13) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.0s ease-in-out infinite;
  -moz-animation: waving 3s 3.0s ease-in-out infinite;
  animation: waving 3s 3.0s ease-in-out infinite;
}
.particles.animate .row-2 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.5s ease-in-out infinite;
  -moz-animation: waving 3s 0.5s ease-in-out infinite;
  animation: waving 3s 0.5s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.7s ease-in-out infinite;
  -moz-animation: waving 3s 0.7s ease-in-out infinite;
  animation: waving 3s 0.7s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(3) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(8) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(13) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-3 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.6s ease-in-out infinite;
  -moz-animation: waving 3s 0.6s ease-in-out infinite;
  animation: waving 3s 0.6s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.8s ease-in-out infinite;
  -moz-animation: waving 3s 0.8s ease-in-out infinite;
  animation: waving 3s 0.8s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(3) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(8) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(13) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-4 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.7s ease-in-out infinite;
  -moz-animation: waving 3s 0.7s ease-in-out infinite;
  animation: waving 3s 0.7s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(2) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(7) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(12) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-5 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.8s ease-in-out infinite;
  -moz-animation: waving 3s 0.8s ease-in-out infinite;
  animation: waving 3s 0.8s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(2) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(7) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.0s ease-in-out infinite;
  -moz-animation: waving 3s 3.0s ease-in-out infinite;
  animation: waving 3s 3.0s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-6 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(1) {
  -webkit-animation: waving 3s 0.9s ease-in-out infinite;
  -moz-animation: waving 3s 0.9s ease-in-out infinite;
  animation: waving 3s 0.9s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(6) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(11) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-7 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(1) {
  -webkit-animation: waving 3s 1s ease-in-out infinite;
  -moz-animation: waving 3s 1s ease-in-out infinite;
  animation: waving 3s 1s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(6) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(11) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-8 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.1s ease-in-out infinite;
  -moz-animation: waving 3s 1.1s ease-in-out infinite;
  animation: waving 3s 1.1s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(5) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(10) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-9 > i:nth-child(15) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.2s ease-in-out infinite;
  -moz-animation: waving 3s 1.2s ease-in-out infinite;
  animation: waving 3s 1.2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(5) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(10) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-10 > i:nth-child(15) {
  -webkit-animation: waving 3s 4s ease-in-out infinite;
  -moz-animation: waving 3s 4s ease-in-out infinite;
  animation: waving 3s 4s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.3s ease-in-out infinite;
  -moz-animation: waving 3s 1.3s ease-in-out infinite;
  animation: waving 3s 1.3s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(4) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(9) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(14) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-11 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.1s ease-in-out infinite;
  -moz-animation: waving 3s 4.1s ease-in-out infinite;
  animation: waving 3s 4.1s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.4s ease-in-out infinite;
  -moz-animation: waving 3s 1.4s ease-in-out infinite;
  animation: waving 3s 1.4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(4) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(9) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(14) {
  -webkit-animation: waving 3s 4s ease-in-out infinite;
  -moz-animation: waving 3s 4s ease-in-out infinite;
  animation: waving 3s 4s ease-in-out infinite;
}
.particles.animate .row-12 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.2s ease-in-out infinite;
  -moz-animation: waving 3s 4.2s ease-in-out infinite;
  animation: waving 3s 4.2s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.5s ease-in-out infinite;
  -moz-animation: waving 3s 1.5s ease-in-out infinite;
  animation: waving 3s 1.5s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(3) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(4) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(8) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(9) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(13) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(14) {
  -webkit-animation: waving 3s 4.1s ease-in-out infinite;
  -moz-animation: waving 3s 4.1s ease-in-out infinite;
  animation: waving 3s 4.1s ease-in-out infinite;
}
.particles.animate .row-13 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.3s ease-in-out infinite;
  -moz-animation: waving 3s 4.3s ease-in-out infinite;
  animation: waving 3s 4.3s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.6s ease-in-out infinite;
  -moz-animation: waving 3s 1.6s ease-in-out infinite;
  animation: waving 3s 1.6s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.8s ease-in-out infinite;
  -moz-animation: waving 3s 1.8s ease-in-out infinite;
  animation: waving 3s 1.8s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(3) {
  -webkit-animation: waving 3s 2s ease-in-out infinite;
  -moz-animation: waving 3s 2s ease-in-out infinite;
  animation: waving 3s 2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(4) {
  -webkit-animation: waving 3s 2.2s ease-in-out infinite;
  -moz-animation: waving 3s 2.2s ease-in-out infinite;
  animation: waving 3s 2.2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.4s ease-in-out infinite;
  -moz-animation: waving 3s 2.4s ease-in-out infinite;
  animation: waving 3s 2.4s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.6s ease-in-out infinite;
  -moz-animation: waving 3s 2.6s ease-in-out infinite;
  animation: waving 3s 2.6s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.8s ease-in-out infinite;
  -moz-animation: waving 3s 2.8s ease-in-out infinite;
  animation: waving 3s 2.8s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(8) {
  -webkit-animation: waving 3s 3s ease-in-out infinite;
  -moz-animation: waving 3s 3s ease-in-out infinite;
  animation: waving 3s 3s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(9) {
  -webkit-animation: waving 3s 3.2s ease-in-out infinite;
  -moz-animation: waving 3s 3.2s ease-in-out infinite;
  animation: waving 3s 3.2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.4s ease-in-out infinite;
  -moz-animation: waving 3s 3.4s ease-in-out infinite;
  animation: waving 3s 3.4s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.6s ease-in-out infinite;
  -moz-animation: waving 3s 3.6s ease-in-out infinite;
  animation: waving 3s 3.6s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.8s ease-in-out infinite;
  -moz-animation: waving 3s 3.8s ease-in-out infinite;
  animation: waving 3s 3.8s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(13) {
  -webkit-animation: waving 3s 4s ease-in-out infinite;
  -moz-animation: waving 3s 4s ease-in-out infinite;
  animation: waving 3s 4s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(14) {
  -webkit-animation: waving 3s 4.2s ease-in-out infinite;
  -moz-animation: waving 3s 4.2s ease-in-out infinite;
  animation: waving 3s 4.2s ease-in-out infinite;
}
.particles.animate .row-14 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.4s ease-in-out infinite;
  -moz-animation: waving 3s 4.4s ease-in-out infinite;
  animation: waving 3s 4.4s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(1) {
  -webkit-animation: waving 3s 1.7s ease-in-out infinite;
  -moz-animation: waving 3s 1.7s ease-in-out infinite;
  animation: waving 3s 1.7s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(2) {
  -webkit-animation: waving 3s 1.9s ease-in-out infinite;
  -moz-animation: waving 3s 1.9s ease-in-out infinite;
  animation: waving 3s 1.9s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(3) {
  -webkit-animation: waving 3s 2.1s ease-in-out infinite;
  -moz-animation: waving 3s 2.1s ease-in-out infinite;
  animation: waving 3s 2.1s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(4) {
  -webkit-animation: waving 3s 2.3s ease-in-out infinite;
  -moz-animation: waving 3s 2.3s ease-in-out infinite;
  animation: waving 3s 2.3s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(5) {
  -webkit-animation: waving 3s 2.5s ease-in-out infinite;
  -moz-animation: waving 3s 2.5s ease-in-out infinite;
  animation: waving 3s 2.5s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(6) {
  -webkit-animation: waving 3s 2.7s ease-in-out infinite;
  -moz-animation: waving 3s 2.7s ease-in-out infinite;
  animation: waving 3s 2.7s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(7) {
  -webkit-animation: waving 3s 2.9s ease-in-out infinite;
  -moz-animation: waving 3s 2.9s ease-in-out infinite;
  animation: waving 3s 2.9s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(8) {
  -webkit-animation: waving 3s 3.1s ease-in-out infinite;
  -moz-animation: waving 3s 3.1s ease-in-out infinite;
  animation: waving 3s 3.1s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(9) {
  -webkit-animation: waving 3s 3.3s ease-in-out infinite;
  -moz-animation: waving 3s 3.3s ease-in-out infinite;
  animation: waving 3s 3.3s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(10) {
  -webkit-animation: waving 3s 3.5s ease-in-out infinite;
  -moz-animation: waving 3s 3.5s ease-in-out infinite;
  animation: waving 3s 3.5s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(11) {
  -webkit-animation: waving 3s 3.7s ease-in-out infinite;
  -moz-animation: waving 3s 3.7s ease-in-out infinite;
  animation: waving 3s 3.7s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(12) {
  -webkit-animation: waving 3s 3.9s ease-in-out infinite;
  -moz-animation: waving 3s 3.9s ease-in-out infinite;
  animation: waving 3s 3.9s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(13) {
  -webkit-animation: waving 3s 4.1s ease-in-out infinite;
  -moz-animation: waving 3s 4.1s ease-in-out infinite;
  animation: waving 3s 4.1s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(14) {
  -webkit-animation: waving 3s 4.3s ease-in-out infinite;
  -moz-animation: waving 3s 4.3s ease-in-out infinite;
  animation: waving 3s 4.3s ease-in-out infinite;
}
.particles.animate .row-15 > i:nth-child(15) {
  -webkit-animation: waving 3s 4.5s ease-in-out infinite;
  -moz-animation: waving 3s 4.5s ease-in-out infinite;
  animation: waving 3s 4.5s ease-in-out infinite;
}
.particles i {
  display: inline-block;
  margin: 20px 25px;
  width: 8px;
  height: 8px;
  background: #333;
  outline: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-moz-keyframes waving {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -moz-transform: translate3d(0, 200px, 0) scale(0.5);
    transform: translate3d(0, 200px, 0) scale(0.5);
  }

  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes waving {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 200px, 0) scale(0.5);
    transform: translate3d(0, 200px, 0) scale(0.5);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes waving {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 200px, 0) scale(0.5);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
