// --- compass ---------------------------------------------------------------------------------------------------------
//
// Important:
// I used compass (0.13.alpha.0) because older versions doesn't support animations


@import "compass/reset";
@import "compass/css3";

// --- content variables -----------------------------------------------------------------------------------------------

$background: #f2f2f2;
$text-color: #444;

$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;

// --- content ---------------------------------------------------------------------------------------------------------

html, body
{
  height: 100%;
}

body
{
  font: 12px Helvetica, Arial, sans-serif;
  background: $background;
  color: $text-color;
}

.bar
{
  height: 20px;
  padding: 10px;
  background: #fff;
  border-bottom: #e5e5e5;
  text-align: left;
  position: relative;
  z-index: 100;
  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.15));

  h1
  {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;

    .read-more
    {
      font-size: 12px;
      line-height: 18px;
      padding: 0 3px;
      margin-top: 1px;
      font-weight: bold;
      text-decoration: none;
      color: #f52954;
      vertical-align: top;
      display: inline-block;
      @include border-radius(3px);
      @include transition(all .3s);

      &:hover
      {
        background: #f52954;
        color: #fff;
      }
    }
  }

  .social
  {
    position: absolute;
    top: 12px;
    right: 10px;
  }
}


// --- wave ------------------------------------------------------------------------------------------------------------

.button
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -100px;
  border: 3px solid #c2c2c2;
  color: #999;
  text-align: center;
  line-height: 20px;
  padding: 8px 0;
  z-index: 100;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  @include transform( translate3d(0,0,0) );
  @include transition(all .3s, top 0s .3s);

  &:hover
  {
    border-color: #333;
    color: #333;
  }

  &.hide
  {
    opacity: 0;
    cursor: default;
    top: -100px;
    @include transform(scale(1.1));
  }
}

.content
{
  min-height: 95%;
  @include perspective(1200px);
  @include perspective-origin(50% 0);
}

.particles
{
  width: 1000px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -500px;
  text-align: center;
  @include transform-style(preserve-3d);

  @for $i from 1 through 15
  {
    .row-#{$i}
    {
      $axisY: -$i * 50px;
      $axisZ: -$i * 50px;
      @include transform( translate3d(0, $axisY, $axisZ) );
    }
  }

  &.animate
  {
    @for $i from 1 through 15
    {
      .row-#{$i}
      {
        > i
        {
          @for $j from 1 through 15
          {
            &:nth-child(#{$j})
            {
              $delay: ($j * .2s) + ($i * .1s);
              @include animation(waving 3s $delay ease-in-out infinite);
            }
          }
        }
      }
    }
  }

  i
  {
    display: inline-block;
    margin: 20px 25px;
    width: 8px;
    height: 8px;
    background: #333;
    outline: 1px solid transparent;
    @include border-radius(5px);
    @include backface-visibility(hidden);
  }
}

@include keyframes(waving)
{
  0%
  {
    @include transform( translate3d(0, 0, 0) );
  }
  50%
  {
    @include transform( translate3d(0, 200px, 0) scale(.5) );
  }
  100%
  {
    @include transform( translate3d(0, 0, 0) );
  }
}
